* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A1A1E;
    color: white;
}

.converter_div {
   display: flex;
   justify-content: center;
   margin-top: 250px;
}

.converter_header {
    width: 100%;
    height:60px;
    border-bottom: 2px solid #4D4E50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.converter_header h3,.icon-react {
    color: #7A7A7C;
    font-weight: 500;
    margin-left: 20px;
}

.icon-react {
    margin-right: 20px;
    font-size: 30px;
}

.converter {
    width: 600px;
    height: 250px;
    background-color: #262629;
    border-radius: 15px;
    border: 1px solid #4D4E50;
}

.convert_main {
    display: grid;
    justify-content: center;
}

.convert_main input {
    width: 500px;
    height: 60px;
    background-color:#1E1E21;
    border: 1px solid #4D4E50;
    border-radius: 15px;
    margin-top: 20px;
    color: white;
    padding-left: 10px;
    font-size: 17px;
}

.convert_main input:focus-visible {
    outline: none;

}

select {
    position: absolute;
    margin-top: 30px;
    right: 520px;
    border: 1px solid #464646;
    background-color: #0F0F10;
    color: white;
    font-weight: 500;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 170px;
    height: 40px;
}

select:focus-visible {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.crypto-logo {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  .converter_section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.crypto-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
